<div class="w3-top">
	<div class="w3-bar w3-red w3-card w3-padding w3-small">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" ></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
    <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NOTICE</a>
    <nav class="navbar navbar-expand-sm navbar-dark w3-red">
        <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
         <li class="nav-item">
         <a class="nav-link" (click)="onClick()">Logout</a>
         </li>
         </ul>
         </div>
         </nav>
    </div></div>

<br><br><br>



<div class="w3-display-container  ">
    
    <div class="w3-row-padding w3-theme-l1 ">
        <h1 class="w3-text-red w3-center" style="font-size:50px;text-shadow:1px 1px 0 #444">VOTER SERVICES</h1><br/>
    <div class="w3-col l4 m4" >
    <div  class="w3-card " style="background-color:#31A9B8" >
    <button  class="w3-center" routerLink="/voterStatus">
    <h1 class="w3-text-green w3-text-bold" >View</h1>
    <h3 class="w3-text-yellow">Voter Status</h3><br/></button></div>
   
    <div class="w3-card "  style="background-color:#ff07d6" >
    <button routerLink="/voterRequest">
        <h1 class="w3-text-green w3-text-bold" >ADD</h1>
        <h3 class="w3-text-yellow">Voter Request</h3><br/></button></div>
        <div class="w3-card "  style="background-color:#b907ff">
        <button  >
            <h1  class="w3-text-green w3-text-bold">VIEW</h1>
            <h3 class="w3-text-yellow">Schedule </h3><br/></button></div>
   </div>
    
    <div class="w3-col l4 m4" >
<div class="w3-card" style="background-color:#2196F3">
    <button routerLink="/land" >
            <h1 class="w3-text-green w3-text-bold" >CAST</h1>
            <h3 class="w3-text-yellow">A VOTE</h3><br/></button></div> 
    </div>
   <div> <div class="w3-col l4 m4">
    <div class="w3-card " style="background-color:#31A9B8">
        <button  routerLink="/viewSchedules"> 
        <h1 class="w3-text-green w3-text-bold">Upcoming</h1>
        <h3 class="w3-text-yellow">ELECTION Schedule</h3>h3><br/> </button></div>
  
           
              
    
      
    </div></div></div></div>