<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Election</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Election Details</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="onClick()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="container mt-5">
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="name">Election Name</label>
          <input
            [(ngModel)]="name"
            name="name"
            type="text"
            class="form-control"
            id="name"
            placeholder="Election Name"
          />
        </div>
        <!-- <small>{{ name }}</small> -->

        <div class="form-group">
          <label for="electionDate">Election Date</label>
          <input
            [(ngModel)]="electionDate"
            name="electionDate"
            type="text"
            class="form-control"
            id="electionDate"
            placeholder="YYYY-MM-DD"
          />
        </div>

        <div class="form-group">
          <label for="district">District</label>
          <input
            [(ngModel)]="district"
            name="district"
            type="text"
            class="form-control"
            id="district"
            placeholder="District Name"
          />
        </div>

        <div class="form-group">
          <label for="constituency">Constituency</label>
          <input
            [(ngModel)]="constituency"
            name="constituency"
            type="text"
            class="form-control"
            id="constituency"
            placeholder="Constituency Name"
          />
        </div>

        <div class="form-group">
          <label for="countingDate">Counting Date</label>
          <input
            [(ngModel)]="countingDate"
            name="countingDate"
            type="text"
            class="form-control"
            id="countingDate"
            placeholder="YYYY-MM-DD"
          />
        </div>

        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
