<div id="front">
  <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-padding w3-small">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" ></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT US</a>
      <a href="" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NOTICE</a>
      <p id="date"></p>
      </div></div>
      
  <div class="m">
   
    <h1 class="w3-text-red w3-text-bold m" style="text-shadow:1px 1px 0 #444;font-size:60px;" >ELECTRONIC VOTING SYSTEM</h1>
    <p  style="font-size:30px">Voting Is Our Right Then Use It Wisely</p>
<br><br><br><br><br><br>
      <button type="button" class="w3-button w3-red w3-padding-large w3-round-xxlarge w3-border w3-border-green"><span style="font-size:30px">SIGN IN</span></button>
      <button type="button" class="w3-button w3-red w3-padding-large w3-round-xxlarge w3-border w3-border-green"><span style="font-size:30px">Register Here</span></button>
    </div>
</div>

    
		
<div class="w3-display-container">
<div class="w3-row-padding w3-padding-64 w3-theme-l1 ">
<h1 class="w3-text-red w3-center" style="font-size:50px;text-shadow:1px 1px 0 #444">OUR RIGHT OUR VOTE</h1><br/>
<div class="w3-col l4 m4" >

<div class="w3-card "  style="background-color:#ffc107" >
<h1  >INVOLVE</h1>
<p>This is the platform which helps to think as united Indian and involved in national interest. </p><br/></div>

<div class="w3-card " style="background-color:#31A9B8">

<h1>KNOWLEDGE</h1>
<p>With this website we the people of India will know about candidates and their parties.</p><br/>

</div></div>

<div class="w3-col l4 m4" >
<div class="w3-card" style="background-color:#2196F3">

<h1>AWARE</h1>
<p>As voting decides the future of nation So Voter should be aware about their decisions</p><br/></div>

<div class="w3-card " style="background-color:#9c27b0">

<h1>TECHNOLOGY</h1>
<p>As the future demands technological development, this is one of the steps.</p><br/>

</div>
</div>



<div><div class="w3-col l4 m4">

  <div class="w3-card"  style="background-color:#3f51b5" >
<h1>TRANSPARENCY</h1>
<p>People will get to know correct details and results from the home on the GO.</p><br/> </div>

<div class="w3-card " style="background-color:#e91e63">

<h1>TRUST</h1>
<p>This is one of the steps to bring more trust in voting system of india.<br></p><br/></div>

  
</div></div></div></div>
<script> document.getElementById("date").innerHTML=Date();
</script>





 
	
  
    
  
 

    